body {
  margin: 0;
  overflow: hidden;
  background: #111;
}

canvas {
  display: block;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(63, 63, 63);
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}

h1 {
  text-decoration: none;
  color: #2cbb50;
}
